@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

body {    
    background-image: url(img/teste.jpg);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: white;
}

p {
    margin: 0;
}

.titulo {

    text-align: center;
    padding-top: 8rem;
}

#title {
    font-weight: bold;
    font-size: 4rem;
    word-spacing: 8px;
    letter-spacing: 10px;
}

#sub-title {
    font-style: italic;
    font-size: 1.5rem;
    word-spacing: 3px;
    letter-spacing: 10px;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number {
    font-size: 6rem;
    font-family: "Bebas Neue";
    font-weight: bold;
}

.container {
    display: flex;
    padding-top: 3.5rem;
    text-align: center;
}

.container-number {
    margin: 0 3rem;
}

.container span {
    font-size: 1.5rem;
    letter-spacing: 10px;
}

.setDate {

    padding-top: 3rem;
    font-size: 1.2rem;

}

input {


    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding-top: 10px;
    border-radius: 2px;
    width: 50px;
}

.setItems {
    letter-spacing: 5px;
    
}