@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);


body {    
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Bebas Neue";
    color: white;
}

.container {
    display: flex;
}

h1 {
    font-weight: normal;
    font-size: 6rem;
    margin-top: -4rem;
    font-weight: bold; 
    letter-spacing: 0.3rem;   
}

.number {
    margin: 0 3rem;
    font-size: 6rem;
}

.container-number {
    text-align: center;
    margin-top: -1.5rem;
}

span {
    font-size: 1.6rem;
}

.instruction {
    margin-top: -1rem;
    font-size: 2rem;
}

#data {
    border-radius: 0.35rem;
    border-color: none;
    height: 35px;
    width: 180px;
    border-style: none;
    align-items: center;
}

button {
    border-style: none;
    border-radius: 50%;
    height: 35px;
    width: 40px;
}

form {
    align-items: center;
}

#title {
    margin-top: -8rem;
}

.setDate {
    display: flex;
    margin-right: 80rem;
    margin-top: -8rem;
}